@font-face {
  font-family: "Gill Sans Nova W01 Medium";
  src: url("//db.onlinewebfonts.com/t/1d9f84285a1762213c7105de2c9da197.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1d9f84285a1762213c7105de2c9da197.woff") format("woff");
}

body {
  background-color: black;
  color: aliceblue;
  font-family: "Gill Sans Nova W01 Medium", sans-serif;
  font-size: 16px;
  margin: 0;
}

p,
a {
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* top navigation menu on larger screens */

nav {
  margin: 0;
}

ul.nav {
  list-style-type: none;
  margin-top: 0;
  margin-right: 0.625rem;
  /* margin: 10px; */
  overflow: hidden;
  background-color: black;
  display: flex;
  opacity: 0.75;
  flex-direction: row;
  justify-content: flex-end;
  opacity: 0.75;
}

ul.nav li {
  background-color: hsl(200, 10%, 25%);
  border: 1px outset #BDB76B;
  border-radius: 0 0 0.3125rem 0.3125rem;
  display: flex;
  justify-content: space-between;
}

ul.nav li+li {
  margin-left: 0.25rem;
}

ul.nav li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Gill Sans Nova W01 Medium", sans-serif;
}

ul.nav li:hover {
  background-color: #ffffff;
  border: 1px solid rgb(189, 183, 107);
}

ul.nav li a:hover {
  color: hsl(200, 10%, 25%);
}

ul.nav li a.active {
  border: 2px inset hsl(200, 10%, 30%);
  background-color: rgba(255, 255, 255);
}

ul.nav li.nav-item {
  float: left;
}

/* After nav section */

#about,
#contact {
  display: flex;
}

#about div,
#contact div {
  width: 50%;
  display: block;
}

#contact ul {
  padding-left: 5rem;
}

#contact ul li {
  margin: 0.5rem 0;
}

#contact ul li a {
  color:#f0f8ff;
}

nav+hr {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: auto;
}

h1 {
  padding-left: 3.75rem;
  font-weight: normal;
  font-size: xxx-large;
}

#about div p,
#about div h2,
#contact div p,
#contact div h2,
#projects {
  text-align: left;
  padding-left: 5rem;
}

#about figure,
#contact figure {
  max-width: 341px;
  height: fit-content;
  display: block;
  border: 0.1rem solid #024;
  border-radius: 0.4rem;
}

#about figure img,
#contact figure img {
  max-width: 300px;
  display: block;
  width: 90%;
  height: auto;
  text-align: center;
  padding: 0.5rem;
  margin: 0 auto;
}

figure figcaption {
  text-align: center;
  padding-bottom: 0.5rem;
}

#projects details summary {
  cursor: pointer;
}

#projects details>summary {
  color: hsl(200, 10%, 25%);
  padding: 0.5rem 0;
  list-style-type: '⇒ ';
}

#projects details[open]>summary {
  color: #f0f8ff;
  padding: 0.5rem 0;
  list-style-type: ' ⇓ ';
}

#projects details summary {
  text-decoration: none;
  color: #f0f8ff;
}

#projects {
  margin-right: 5rem;
}

/* --------------------------------- */

#skills {
  margin: 0 5rem;
  padding-bottom: 2rem;
}

/* start of styling slideshow */

/* Position the image container (needed to position the left and right arrows) */
.block {
  display: flex;
}

.wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #222222;
  padding: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(189, 183, 107, 0.2), 0 6px 20px 0 rgba(189, 183, 107, 0.19);

}

/* Hide the images by default */
.mySlides {
  display: none;
  padding: 0 16px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* end of slideshow styling */

/* start of card transition effects */
#skills div>.card {
  position: relative;
  width: 100%;
}

.mySlides {
  transition: transform .6s ease-in-out;
  backface-visibility: hidden;
  perspective: 1000px;
}

.wrapper>.next {
  left: 100%;
}

.wrapper>div {
  position: relative;
  animation-name: right;
  animation-duration: 52s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

i div.card:hover {
  animation-play-state: paused;
}

@keyframes right {
  0% {
    right: 0%
  }

  25% {
    right: 12.5%
  }

  25% {
    right: 25%
  }

  37.5% {
    right: 37.5%
  }

  50% {
    right: 50%
  }

  62.5% {
    right: 62.5%
  }

  75% {
    right: 75%
  }

  87.5% {
    right: 87.5%
  }

  100% {
    right: 95.5%
  }
}

#skills div .card i {
  display: flex;
  font-size: 4.5rem;
  justify-content: space-around;
  padding: 0 1rem;
}

#skills .card div i.fab,
#skills .card div i.fas {
  width: auto;
  height: fit-content
}

i.fa-html5 {
  color: #6fd609;
}

i.fa-css3 {
  color: #ff4500;
}

i.fa-js-square {
  color: #ffa500;
}

i.fa-php {
  color: #6a5acd;
}

i.fa-database {
  color: #6a5acd;
}

i.fa-python {
  color: #0000ff;
}

i.fa-paypal {
  color: #1212c4;
}

i.fa-terminal {
  color: #483d8b;
}

i.fa-github {
  color: #ffffff;
}

i.fa-git {
  color: #ffffff;
}

i.fa-node-js {
  color: #86b300;
}

i.fa-chrome {
  color: #ff0000;
}

i.fa-firefox-browser {
  color: #6495ed;
}

/* end of card transition effects */

#skills div .card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

#skills div .card:hover .overlay {
  height: 100%;
}

.overlay .text {
  white-space: nowrap;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* end of card transition */

/* footer section */

footer {
  background-color: #1c1717;
  border-top: 1px outset #666666;
  z-index: 3;
  padding: .5rem 1.5rem .25rem;
}

footer nav {
  display: flex;
  justify-content: center;

}

footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 75%;
}

footer nav li a {
  color: white;
  text-decoration: none;
}

footer nav p span {
  text-align: left;
}

footer p:nth-last-child(2) {
  margin-bottom: -10px;
}

footer p.copyright {
  text-align: center;
  font-size: smaller;
  margin-top: 0;
}

  @media only screen and (min-width: 701px) {

    .gallery img {
      max-height:200px;
    }
  
    footer nav ul li{ 
      padding-top: 5rem;
    }
    
  }
  @media only screen and (max-width: 700px) {
     #portfolio, 
     #about, 
     #projects, 
     #skills,
     #contact {
      text-align: center;
      padding: 0 px;
      width: 100%;
      }
    nav, 
    h1,
    #about div h2,
    #about, 
    #about div,
    #contact div h2, 
    #contact div p,
    #contact div ul, 
    #contact div,
    #projects,
    #projects div, 
    #skills, 
    #skills .box,
    #about div p, 
    nav ul.nav {
      width: 100%;
      display:block;
      text-align: center;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    ul.nav {
      margin: auto;
      display: block;
      width: 100%;
    }
    footer p:nth-last-child(2) {
      margin-bottom: 0;
    }
    footer p.copyright {
      text-align: left;
      margin-top: 4px;
    }
    ul.nav li a {
      margin: auto;
    }
    #contact {
      display: block;
    }
  }
@media screen and (max-width: 600px) {
  .nav .nav-item , #about {
    float: none;
    width: 100%;
  }
  footer nav {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  #portfolio, 
  #about, 
  #projects, 
  #skills,
  #contact {
    width: 100%;
  }
}